.word {
  display: inline-flex;
  background-color: $color-word;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: grab;
  @include media-tablet {
    padding: 3px 1px;
  }
  @include media-tablet {
    padding: 2px 0.5px;
  }
}
