.card {
    display: block;
    position: relative;
    max-width: 210px;
    width: 20%;
    max-height: 210px;
    height: 20%;
    margin: 20px;
    @include media-laptop {
      margin: 10px;
      max-height: 180px;
      width: 18%;
      height: 18%;
    }
    @include media-tablet {
      margin: 5px;
      width: 21%;
      height: 21%;
    }
   // background-color: red;
   background-color: $color-light;


    border-radius: 40px;
    border: 2px solid $color-switch-trainMode;

    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  

.sectionImage {
  
    background-position: 30% 57%;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 5px solid white;
  margin: 10px 0;
  width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}



.sectionTitle {
  position: relative;
  left: 25%;
  margin-top: 40px;
  line-height: 50px;
}


.cardImage {
  background-position: 30% 57%;
    background-size: 100% 100%;
    border-radius: 10%;
  margin: 10px 0;
  width: 150px;
  height: 110px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.cardWord {
  position: relative;
  left: 25%;
  
}

.cardIcon {
  position: relative;
    right: 10%;
    top: -10px;

}

