//basic card style
.card {
  display: block;
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  background-color: $color-light;
  cursor: pointer;
  transition: 0.4s;
  &.train {
    background-color: $color-trainMode;
  }
  &.play {
    background-color: $color-playMode;
  }
  &.train-card {
    border: 2px solid $color-trainMode;
  }
  &.play-card {
    height: 12rem;
    border: 2px solid $color-playMode;
  }    
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

//section card
.section-image {
  background-position: 30% 57%;
  background-size: 100% 100%;
  border-radius: 50%;
  border: 5px solid white;
  margin: 10px 0;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.section-title {
  position: relative;
  top: 2rem;
  left: 4rem;
}

//train - play card style
.card-image {
  background-position: 30% 57%;
  background-size: 100% 100%;
  border-radius: 10%;
  width: 13rem;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  top: 1.5rem;
}

.card-word {
  position: relative;
  left: 4rem; 
}

.card-icon {
  position: relative;
  right: 10%;
  top: -0.5rem;
}

.card-description {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: space-between;
}
