//hamburger
%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-gray;
    height: 2.4px;
    width: 100%;
}

.hamburger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    left: 2rem;
    top: 1.5rem;
    cursor: pointer;
    &::before {
        @extend %hamburger-line;
        top: 0px;
        left: 0;
    }
    &::after {
        @extend %hamburger-line;
        bottom: 0px;
        left: 0;
    }
}

.hamburger-line {
    @extend %hamburger-line;
    top: calc(50% - 1.2px);
    left: 0;
}

//hamburger container
.hamburger-container {
    position: fixed;
    width: 30%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    &.train {
        background-color: $color-trainMode;
      }
    &.play {
        background-color: $color-playMode;
    }
    &.hidden {
        display: none;
    }
}

.hamburger-menu {
    position: relative;
    top: 5rem;
    left: 5rem;
    margin: 0 auto;
    .navigation {
        li {
            margin-bottom: 1rem;
            justify-content: space-between;
            text-transform: uppercase;
        }
        a {
            text-decoration: none;
            color: $color-dark;
            &.active {
                text-decoration: underline;
            }
        }
    }
}

.close-button {
    position: relative;
    top: 3rem;
    left: 45%;
    width: 2rem;
    height: 2rem;
}
