%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-gray;
    height: 2.4px;
    width: 100%;
}

.hamburger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    left: 50px;
    top: 20px;
    &::before {
        @extend %hamburger-line;
        top: 0px;
        left: 0;
    }
    &::after {
        @extend %hamburger-line;
        bottom: 0px;
        left: 0;
    }
}

.hamburger-line {
    @extend %hamburger-line;
    top: calc(50% - 1.2px);
    left: 0;
}


.hamburger-container {
    &.hidden {
        display: none;
    }
}


