.wrapper {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  height: 7rem;
}

.icon-rotate {
  width: 35px;
  cursor: pointer;
}

.section-cards,
.train-cards,
.play-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 20px 0 20px;
}

.card {
  display: block;
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card.train {
  background-color: #7B68EE;
}
.card.play {
  background-color: #FF69B4;
}
.card.train-card {
  border: 2px solid #7B68EE;
}
.card.play-card {
  height: 12rem;
  border: 2px solid #FF69B4;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.section-image {
  background-position: 30% 57%;
  background-size: 100% 100%;
  border-radius: 50%;
  border: 5px solid white;
  margin: 10px 0;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.section-title {
  position: relative;
  top: 2rem;
  left: 4rem;
}

.card-image {
  background-position: 30% 57%;
  background-size: 100% 100%;
  border-radius: 10%;
  width: 13rem;
  height: 9rem;
  margin: 0 auto;
  position: relative;
  top: 1.5rem;
}

.card-word {
  display: inline;
  position: relative;
  left: 4rem;
}

.card-icon {
  display: inline;
  position: relative;
  right: 10%;
  top: -0.5rem;
  cursor: pointer;
}

.card-description {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: space-between;
}
.card-description.hidden {
  display: none;
}

object {
  pointer-events: none;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face-front.hidden {
  display: none;
}

.card-face-back {
  transform: rotateY(180deg);
}
.card-face-back.hidden {
  display: none;
}

.onoffswitch {
  position: relative;
  width: 115px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #666d89;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "TRAIN";
  padding-left: 10px;
  background-color: #7B68EE;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "PLAY";
  padding-right: 10px;
  background-color: #FF69B4;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 46px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 61px;
  border: 2px solid #666d89;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.modeSwitch {
  display: inline-block;
  position: relative;
  float: right;
  top: 1rem;
  right: 1.5rem;
}

.hamburger-line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #666d89;
  height: 2.4px;
  width: 100%;
}

.hamburger {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
  left: 2rem;
  top: 1.5rem;
  cursor: pointer;
}
.hamburger::before {
  top: 0px;
  left: 0;
}
.hamburger::after {
  bottom: 0px;
  left: 0;
}

.hamburger-line {
  top: calc(50% - 1.2px);
  left: 0;
}

.hamburger-container {
  position: fixed;
  width: 30rem;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .hamburger-container {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .hamburger-container {
    width: 100vw;
  }
}
.hamburger-container.train {
  background-color: #7B68EE;
}
.hamburger-container.play {
  background-color: #FF69B4;
}
.hamburger-container.hidden {
  display: none;
}

.hamburger-menu {
  position: relative;
  top: 5rem;
  left: 20%;
  margin: 0 auto;
}
.hamburger-menu .navigation li {
  margin-bottom: 1rem;
  justify-content: space-between;
  text-transform: uppercase;
}
.hamburger-menu .navigation a {
  text-decoration: none;
  color: #323746;
}
.hamburger-menu .navigation a.active {
  text-decoration: underline;
}

.close-button {
  position: relative;
  top: 3rem;
  left: 45%;
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
