.button {
  display: inline-block;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  border: 1px solid $color-light;
  border-radius: 5px;
  color: $color-light;
  cursor: pointer;
}

.image__button {
  width: 2.5rem; 
}

.submit__button {
  width: 18%; 
  @include media-tablet {
    width: 20%;
  }
  &:hover {
    font-size: 1.1rem;
  }
}
