.dropdown {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 2.5rem;
  background-color: $color-primary;
  border: 1px solid $color-light;
  border-radius: 5px;
}

.nav-link {
  font-size: 1rem;
  color: $color-light;
  padding: .5rem 0.8rem;
  &:hover{
    transform: scale(1.1);
    color: $color-light-darken;
  }
}

.dropdown-menu {
  background-color: $color-primary;;
}

.dropdown-item {
  font-size: 1rem;
  color: $color-light;
}
  