.locationInfo {
  display: inline-block;
  width: 25rem;
  border: 1px solid red;
  font-size: 1rem;
  font-weight: 700;
  color: $color-light;
  @include media-laptop {
    width: 15rem;
  }
  @include media-tablet {
    margin-top: 7.5rem;
  }
  @include media-mobile {
    margin-top: 5rem;
  }
}

.coordinates {
  float: right;
}

#map { 
  width: 100%;
  height: 100%;
  background-size: cover;
}

.mapContainer {
  width: 25rem;
  height: 25rem;
  @include media-laptop {
    width: 15rem;
    height: 15rem;
  }
}
