.locationInfo {
  display: inline-block;
  width: 20rem;
  height: 30rem;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 700;
  color: $color-light;
}

.coordinates {
  float: right;
}

.latitude::before {
  content: 'Latitude:';
}

.longitude::before {
  content: 'Longitude:';
}