.threeDaysWeather {
  display: flex;
  width: 27rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.day {
  font-size: 1rem;
  position: relative;
}

.dayTemperature {
    font-size: 3rem;
}