.weatherInfo {
  display: inline-block;
  width: 30rem;
  border: 1px solid red;
  color: $color-light;
  font-weight: 700;
  @include media-laptop {
    width: 20rem;
  }
  @include media-tablet {
    position: relative;
  }
  @include media-mobile {
    width: 17rem;
  }
}

.todaysWeather {
  position: relative;
}

.location {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 5rem; 
  font-size: 2.5rem;
  white-space: nowrap;
  @include media-laptop {
    font-size: 1.5rem;
    height: 3rem;
  }
  @include media-tablet {
    font-size: 1.25rem;
    height: 2.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @include media-mobile {
    font-size: 1rem;
    height: 2rem;
  }
}

.currentDate {
  padding-top: 5rem;
  @include media-laptop {
    padding-top: 3rem;
  }
  @include media-tablet {
    padding-top: 2.5rem;
  }
  @include media-mobile {
    padding-top: 2rem;
  }
}

.currentDate, 
.summaryContainer {
  font-size: 1rem;
  @include media-mobile {
    font-size: 0.8rem;
  }
}

.summaryContainer {
  margin-left: 1rem;
}

.currentTemperature {
  font-size: 10rem;
  @include media-laptop {
    font-size: 7rem;
  }
  @include media-mobile {
    font-size: 6rem;
  }
}

.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}
