.weatherInfo {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  border: 1px solid black;
  color: $color-light;
  font-weight: 700;
}

.location {
  width: 100%;
  height: 5rem; 
  font-size: 3rem;
}

.city::after {
  content: ", ";
}

.currentDate, 
.summaryContainer {
  font-size: 1rem;
}

.summaryContainer {
  margin-left: 1rem;
}

.currentTemperature {
  font-size: 10rem;
}

.weatherContainer {
  display: flex;
  height: 15rem;
}
