.wrapper {
    width: 1400px;
    margin: 0 auto;
}

.wrapperContainer {
  padding-top: 1rem;
}

.wrapper__header {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.5);
}

.wrapper__main {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: rgba(0,0,0,.5);
}

.container {
  display: flex;
  justify-content: space-between;
}