.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-mobile {
    width: 94%;
  }
}

.wrapperContainer {
  padding: 1rem 0;
}

.wrapper__header {
  background-color: rgba(0,0,0,.5);
  padding: 4rem 5rem 0; 
  @include media-laptop {
    flex-direction: column;
    padding: 4rem 3rem 0;
  }
}

.wrapper__main {
  background-color: rgba(0,0,0,.5);
  padding: 7rem 5rem 5rem;
  align-items: flex-start;
  @include media-laptop {
    padding: 5rem 3rem 5rem;
  }
  @include media-tablet {
    flex-direction: column;
    align-items: center;
  }
  @include media-tablet {
    padding: 3rem 2rem 3rem;
  } 
}
