.wrapper {
  width: 100%;
}

.header__wrapper {
  padding: 0.5rem 0;
  height: 7rem;
  background-color: $color-violet;
}

.footer__wrapper {
  position: fixed;
  bottom: 0;
  background-color: $color-violet;
  height: 5rem;
}
