.header__wrapper {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__level {
  display: inline-block;
}

.menu__page {
  display: inline-block;
}

.menu-left {
  font-size: 2rem;
  font-weight: 700;
}

.menu-right {
  font-size: 2rem;
  font-weight: 700;
}
