.statistic-page {
  display: block;
  height: 100%;
  &.hidden {
    display: none;
  }
}

.statistic-title {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  @include media-tablet {
    font-size: 2.5rem;
  }
  @include media-mobile {
    font-size: 1.75rem;
  }
}

.statistic-level {
  margin-right: 2rem;
}

.statistic-container {
  display: block;
  width: 60%;
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: 400;
  @include media-tablet {
    width: 80%;
    font-size: 1.25rem;
  }
  @include media-mobile {
    font-size: 1rem;
  }
}

.iDontKnowSentences-title,
.iKnowSentences-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  @include media-tablet {
    font-size: 1.5rem;
  }
  @include media-mobile {
    font-size: 1.25rem;
  }
}

.statistic-sentence {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  @include media-tablet {
    margin-bottom: 0.75rem;
  }
  @include media-mobile {
    margin-bottom: 0.5rem;
  }
}

.statistic__buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 15rem;
}