.word {
  display: inline-flex;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: grab;
  &.sentence__word {
    // min-height: 2rem;
    // min-width: 2rem;
  }
  &.dragOver {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 2rem;
  }
  &.true {
    box-shadow: 0 0 10px rgba(0,255,127, 0.5);
  }
  &.false {
    box-shadow: 0 0 10px rgba(255,69,0,0.5);
  }

}