$color-primary: #2d303a;
$color-primary-light: #323746;
$color-light: #ffffff;
$color-light-darken:#f2f2f2;
$color-dark: #666d89;
$color-dark-lighten: #767e9e;
$color-shadow: #c5c5c5;
$color-red: #ff0000;
$color-green: #08ff00;

$content-width: 1039px;
$tablet-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;