.swiper-container {
  width: 60rem;
  height: 40rem;
  margin: 5rem auto;
  @include media-laptop {
    width: 42rem;
    height: 40rem;
  }
  @include media-tablet {
    width: 24rem;
    height: 40rem;
  }
  @include media-mobile {
    width: 22rem;
    height: 40rem;
  }
}

.swiper-slide {
  text-align: center;
  flex-direction: column;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  &:hover {
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @include media-tablet {
    display: none;
  }
}

.swiper-pagination {
  @include media-tablet {
    display: none;
  }
}

.card__header {
  line-height: 1.3rem;
  height: 2.6rem;
  font-size: 1.2rem;
}

.card__body {
  width: 18.75rem;
  height: 27.75rem;
  display: block;
  margin: 0.5rem 0;
  background-size: cover;
}

.movieYear, 
.movieRating {
  display: block;
  font-size: 1rem;
}
