
$color-light: #ffffff;
$color-light-darken:#f2f2f2;

$color-primary: #323746;
$color-primary-light: #323746;

$color-dark: #666d89;
$color-dark-lighten: #767e9e;

$color-text: #544837;

$color-overlay: rgba(80, 80, 80, 0.4);

$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;

$desktop-width: 1200px;
$tablet-width: 767px;
$mobile-big-width: 414px;
