.start-game-button {
    position: relative;
    background-color: $color-playMode;
    border: 2px solid $color-gray;
    color: $color-light;
    border-radius: 1.25rem;
    top: 3rem;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 2rem;
    margin-bottom: 5rem;
    &.hidden {
        display: none;
    }
}