.icon-rotate {
    width: 35px;
    cursor: pointer;
}

.icon-repeat-container {
    position: absolute;
    left: calc(50% - 1.5rem);
    display: inline-block;
    width: 5rem;
    height: 3rem;
    background-color: $color-playMode;
    border: 2px solid $color-gray;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.icon-repeat {
    width: 35px;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
    left: 1.4rem;
}

.star {
    margin: 1.1px;
    display: inline-block;
    width: 64px;
    height: 64px;
}