$color-switch-trainMode: #7B68EE;
$color-switch-playMode: #FF69B4;
$color-light: #FFFFFF;
$color-dark: #323746;
$color-gray: #666d89;

$laptop-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;
